/* Loop item */
.gillion-woocommerce ul.products {
    position: relative;
    margin: 0 -15px;
}

.gillion-woocommerce ul.products li.product {
    width: 25%;
}

.gillion-woocommerce .woocommerce.columns-3 ul.products li.product {
    width: 33.3%;
}

.gillion-woocommerce .woocommerce.columns-4 ul.products li.product {
    width: 25%;
}

.gillion-woocommerce .woocommerce.columns-5 ul.products li.product {
    width: 20%;
}

.gillion-woocommerce ul.products li.product {
    margin: 20px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.gillion-woocommerce ul.products li.product a.woocommerce-loop-product__link {
    display: block;
    position: relative;
}

.gillion-woocommerce ul.products li.product a.woocommerce-loop-product__link:last-child {
    padding-right: 25px
}

.gillion-woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-weight: 800;
    padding-top: 16px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .gillion-woocommerce ul.products li.product {
        width: 50%!important;
    }
}


/* Loop button like add to cart  */
.gillion-woocommerce ul.products li.product .post-thumbnail:hover .button {
    opacity: 1;
}

.gillion-woocommerce ul.products li.product .post-thumbnail .post-overlay-content {
    display: none;
}

.gillion-woocommerce ul.products li.product .button {
    color: #858585;
    background-color: #fff;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    padding: 0 20px;
    transition: 0.3s opacity,color ease-in-out;
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 7px; left: 7px; right: 7px;
    overflow: hidden;
    opacity: 0;
    font-weight: normal;
}

.gillion-woocommerce ul.products li.product .button.loading {
    opacity: 1;
}

.gillion-woocommerce ul.products li.product .button:before {
    content: "\e04f";
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    bottom: -3px;
}

.gillion-woocommerce ul.products li.product .button:hover,
.gillion-woocommerce ul.products li.product .button:focus {
    color: #676767;
}

.gillion-woocommerce ul.products li.product .button.loading {
    padding-right: 45px;
}

.gillion-woocommerce ul.products li.product .button::after {
    font-size: 16px;
    left: auto !important;
    right: auto!important;
    margin-left: 9px;
}

.gillion-woocommerce ul.products li.product .added_to_cart.wc-forward {
    display: none;
}

.gillion-woocommerce ul.products li.product .price {
    font-size: 14px;
    color: #858585;
    margin-bottom: 0px;
}

.gillion-woocommerce ul.products li.product .price > del,
.gillion-woocommerce ul.products li.product .price > ins {
    display: inline-block;
}

.gillion-woocommerce ul.products li.product .price > ins {
    font-weight: 600;
    text-decoration: none;
    padding-left: 5px;
    font-style: italic;
}

.gillion-woocommerce ul.products li.product .price > span.amount {
    font-weight: 600;
}

.gillion-woocommerce ul.products li.product .star-rating {
    display: inline-block;
    margin-top: 8px;
}

/* Loop item - Sale */
.gillion-woocommerce ul.products li.product .onsale,
.gillion-woocommerce ul.products li.product .outofstock,
.gillion-woocommerce ul.products li.product .newproduct,
.gillion-woocommerce span.onsale,
.gillion-woocommerce span.outofstock,
.gillion-woocommerce span.newproduct {
    left: 15px;
    right: auto;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 13px;
    min-height: auto;
    margin-top: -16px;
    font-size: 11px;
    box-shadow: 0 3px 9px 1px rgba(0,0,0,0.13);
    z-index: 100;
}

.gillion-woocommerce span.onsale,
.gillion-woocommerce ul.products li.product .onsale {
    background-color: #f27240;
}

.gillion-woocommerce span.outofstock,
.gillion-woocommerce ul.products li.product .outofstock {
    background-color: #fff;
    position: absolute;
    font-weight: 700;
}

.gillion-woocommerce span.newproduct,
.gillion-woocommerce ul.products li.product .newproduct {
    background-color: #51d7db;
    position: absolute;
    font-weight: 700;
    color: #fff;
}

.gillion-woocommerce span.onsale,
.gillion-woocommerce span.newproduct,
.gillion-woocommerce ul.products li.product .onsale,
.gillion-woocommerce ul.products li.product .newproduct {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.gillion-woocommerce a.button.loading::after {
    top: -1px;
    right: 6px;
}


/* Loop item - Star rating */
.gillion-woocommerce .star-rating {
	font-size: 14px;
	position: relative;
	letter-spacing: 4px;
	width: 71px;
    min-height: 13px;
}

.gillion-woocommerce .star-rating:before {
	color: #d0d0d0;
}

.gillion-woocommerce .star-rating span::before {
	color: #fbcb22;
}

.gillion-woocommerce .star-rating::after {
	content: "";
	clear: both;
}

.gillion-woocommerce .star-rating:before,
.gillion-woocommerce .star-rating span:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f005\f005\f005\f005\f005";
	font-size: 14px;
	letter-spacing: 1px;
}

.star-rating-count {
    vertical-align: top;
    padding: 5px 0;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color: #b8b8b8;
    font-style: italic;
}


/* Loop item - Overlay */
.gillion-woocommerce ul.products li.product a img {
    margin-bottom: 0px;
    border-radius: 8px;
}


/* Single page */
.gillion-woocommerce div.product .product_title {
    margin-top: 26px;
    margin-bottom: 7px;
}

.gillion-woocommerce div.product .woocommerce-review-link {
    color: #656565;
    font-size: 12px;
    font-style: italic;
    border-left: 1px solid #e9e9e9;
    margin-left: 8px;
    padding-left: 12px;
}

.gillion-woocommerce div.product p.stock {
    display: none;
}

.gillion-woocommerce div.product .woocommerce-product-details__short-description {
    margin-bottom: 30px;
}

.gillion-woocommerce div.product .woocommerce-product-details__short-description p {
    line-height: 1.78;
}

.gillion-woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 5px;
}

.gillion-woocommerce div.product p.price {
    font-size: 24px;
    margin-bottom: 12px;
}

.gillion-woocommerce div.product p.price del{
    color: #b9b9b9;
}

.gillion-woocommerce div.product p.price ins {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}


/* Single page - Tabs */
.gillion-woocommerce div.product .woocommerce-tabs {
    border-bottom: 1px solid #ececec;
}

.gillion-woocommerce .woocommerce-tabs-container {
    text-align: center;
    line-height: 0.5;
    position: relative;
    overflow: hidden;
}

.gillion-woocommerce .woocommerce-tabs-container-content {
    display: inline-block;
    position: relative;
}

.gillion-woocommerce .woocommerce-tabs-container-content:before,
.gillion-woocommerce .woocommerce-tabs-container-content:after {
    content: "";
    position: absolute;
    height: 1px;
    border-top: 1px solid #e8e8e8;
    top: 50%;
    width: 600px;
}
.gillion-woocommerce .woocommerce-tabs-container-content:before {
    right: 100%;
    margin-right: 15px;
}
.gillion-woocommerce .woocommerce-tabs-container-content:after {
    left: 100%;
    margin-left: 15px;
}

.gillion-woocommerce div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0px;
}

.gillion-woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: transparent;
    border-width: 0px;
}

.gillion-woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
.gillion-woocommerce #content div.product .woocommerce-tabs ul.tabs::after,
.gillion-woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.gillion-woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    display: none;
    content: none;
}

.gillion-woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 16px;
    color: #b3b3b3;
    transition: 0.3s all ease-in-out;
}

.gillion-woocommerce div.product .woocommerce-tabs .panel {
    max-width: 780px;
    margin: 0 auto;
    box-shadow: none;
    padding-top: 90px;
    padding-bottom: 110px;
    position: relative;
}


/* Single page - Related Products */
.gillion-woocommerce div.product section.related.products {
    padding-top: 90px;
}

.gillion-woocommerce div.product section.related.products > h2 {
    text-align: center;
    margin-bottom: 50px;
}


/* Single page - Meta */
.gillion-woocommerce div.product .product_meta {
    border-top: 1px solid #efefef;
    margin-top: 39px;
    padding-top: 35px;
}

.gillion-woocommerce div.product .product_meta > span {
    display: block;
    margin: 6px 0;
    font-size: 13px;
}

.gillion-woocommerce div.product .product_meta > span:first-child {
    margin-top: 0px;
}

.gillion-woocommerce div.product .product_meta .product_meta_name {
    display: inline-block;
    width: 110px;
    font-weight: bold;
    text-transform: uppercase;
}

.gillion-woocommerce div.product .product_meta .product_stock {
    font-weight: bold;
}

.gillion-woocommerce div.product .product_meta .tagged_as a:before {
    display: inline-block;
    content: "#";
    clear: both;
}


/* Single page - Images */
.gillion-woocommerce div.product div.images img {
    border-radius: 8px;
}

.gillion-woocommerce div.product div.images {
    margin-bottom: 40px;
}

.woocommerce-products-nav {
    position: relative;
    margin: 0 -11px;
}

.woocommerce-products-nav .slick-track {
    min-width: 100%!important;
}

.woocommerce-products-thumb {
    padding: 0 11px;
    transition: 0.3s opacity ease-in-out;
}

.woocommerce-products-thumb img {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.woocommerce-products-thumb.slick-current img {
    opacity: 0.6;
}

.woocommerce-products-thumb:not(.slick-current) img:hover {
    opacity: 0.8;
}

.woocommerce-products-nav {
    margin-TOP: 24px;
}

.woocommerce-products-nav:not(.slick-initialized) .woocommerce-products-thumb {
    width: 25%;
}

.woocommerce-products-for-container {
    position: relative;
}


/* Single page - Review */
.gillion-woocommerce #review_form #respond.comment-respond {
    margin-top: 40px;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.gillion-woocommerce #review_form #respond #reply-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.gillion-woocommerce  #reviews #comment {
    height: 120px;
}


/* Buttons */
.gillion-woocommerce div.product form.cart .button,
.gillion-woocommerce #respond input#submit,
.gillion-woocommerce a.button.alt,
.gillion-woocommerce .return-to-shop a.button,
.gillion-woocommerce .cart input.button,
.gillion-woocommerce .cart input.button:disabled[disabled],
.gillion-woocommerce #payment #place_order, .woocommerce-page #payment #place_order,
body.woocommerce-edit-account .woocommerce-MyAccount-content input.button,
body.woocommerce-edit-address .woocommerce-MyAccount-content input.button,
.woocommerce-Message a.button {
    line-height: 40px;
    padding: 0 35px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 100px;
    font-size: 11px;
    transition: 0.3s all ease-in-out;
}

.gillion-woocommerce .woocommerce-checkout #payment .place-order {
    padding-left: 0px;
    padding-right: 0px
}

.gillion-woocommerce #payment #place_order {
    width: 100%;
    line-height: 54px;
}

.gillion-woocommerce .return-to-shop a.button,
body.woocommerce-edit-account .woocommerce-MyAccount-content input.button,
body.woocommerce-edit-address .woocommerce-MyAccount-content input.button,
.woocommerce-Message a.button {
    line-height: 54px;
}

.woocommerce-Message a.button {
    margin-top: -16px;
    margin-bottom: -16px;
}

body.woocommerce-edit-account .woocommerce-MyAccount-content input.button,
body.woocommerce-edit-address .woocommerce-MyAccount-content input.button {
    margin-top: 5px;
}

.gillion-woocommerce div.product form.cart .button,
.gillion-woocommerce #respond input#submit,
.gillion-woocommerce a.button.alt,
.gillion-woocommerce .return-to-shop a.button {
    background-color: #505050;
    color: #fff;
}

.gillion-woocommerce .quantity .qty {
    line-height: 40px;
    padding: 0 23px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 100px;
    font-size: 11px;
    width: auto;
    border: 1px solid #dfdfdf;
    margin-right: 5px;
    max-width: 90px;
}

.gillion-woocommerce a.button.alt {
    display: table;
    margin-left: auto;
}

.gillion-woocommerce .wc-proceed-to-checkout a.button.alt,
.gillion-woocommerce .woocommerce-cart-form .button,
.gillion-woocommerce #coupon_code {
    line-height: 54px!important;
}


/* Input */
.gillion-woocommerce #coupon_code {
    padding: 0 24px;
    border-radius: 8px;
    margin-right: 30px;
    min-width: 240px;
}


/* Header Checkout */
.woocommerce-header {
    padding-top: 60px;
}

.woocommerce-header-content {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.woocommerce-header-item {
    display: inline-block;
    position: relative;
    width: 190px;
}

.woocommerce-header-item:before,
.woocommerce-header-item:after {
    display: block;
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    top: 25px;
}

.woocommerce-header-item:before {
    background-color: #ebebeb;
}

.woocommerce-header-item:after {
    background-color: #ebebeb;
    right: 0;
}

.woocommerce-header-item-cart:before,
.woocommerce-header-item-complate:after {
    display: none;
}

.woocommerce-header-title {
    font-weight: bold;
    color: #bbbbbb;
    cursor: default;
}

.woocommerce-header-icon {
    display: table;
    width: 50px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 6px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}

.woocommerce-header-icon i {
    display: block;
    padding-top: 14px;
    color: #ebebeb;
}

.woocommerce-header-icon span {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background-color: #ebebeb;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
}

.woocommerce-header.step1 .woocommerce-header-item-cart .woocommerce-header-icon,
.woocommerce-header.step2 .woocommerce-header-item-checkout .woocommerce-header-icon,
.woocommerce-header.step3 .woocommerce-header-item-complate .woocommerce-header-icon {
    border-color: #51e7e9;
}

.woocommerce-header.step1 .woocommerce-header-item-cart .woocommerce-header-icon i,
.woocommerce-header.step2 .woocommerce-header-item-checkout .woocommerce-header-icon i,
.woocommerce-header.step3 .woocommerce-header-item-complate .woocommerce-header-icon i {
    color: #51e7e9;
}

.woocommerce-header.step1 .woocommerce-header-item-cart .woocommerce-header-icon span,
.woocommerce-header.step1 .woocommerce-header-item-cart:after,
.woocommerce-header.step2 .woocommerce-header-item-checkout .woocommerce-header-icon span,
.woocommerce-header.step2 .woocommerce-header-item-checkout:before,
.woocommerce-header.step2 .woocommerce-header-item-checkout:after,
.woocommerce-header.step3 .woocommerce-header-item-complate .woocommerce-header-icon span,
.woocommerce-header.step3 .woocommerce-header-item-complate:before {
    background-color: #51e7e9;
}

.woocommerce-header.step1 .woocommerce-header-item-cart .woocommerce-header-title,
.woocommerce-header.step2 .woocommerce-header-item-checkout .woocommerce-header-title,
.woocommerce-header.step3 .woocommerce-header-item-complate .woocommerce-header-title {
    color: #505050;
}

.woocommerce-header.step2 .woocommerce-header-item-cart .woocommerce-header-title {
    cursor: pointer;
}


/* Shop page */
.gillion-woocommerce h1.page-title {
    margin-bottom: 5px;
}

.gillion-woocommerce .woocommerce-result-count {
    text-transform: uppercase;
    font-size: 13px;
}

.gillion-woocommerce .woocommerce-ordering select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin-top: -13px;
    background-image: url(../img/shop-select.png);
    background-repeat: no-repeat;
    background-position: center right 18px;
    cursor: pointer;
}

.gillion-woocommerce .woocommerce-ordering select:focus {
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.09);
}


/* Cart Page */
.gillion-woocommerce .cart-collaterals .cart_totals {
    width: 100%;
    float: none;
    margin-top: 50px;
}

.gillion-woocommerce .cart-collaterals .cart_totals > h2 {
    border-bottom: 4px solid #f2f2f2;
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.gillion-woocommerce .cart-collaterals .wc-proceed-to-checkout {
    border-top: 1px solid #f2f2f2;
    padding-top: 36px;
}


/* Cart Page - Products */
.gillion-woocommerce table.cart thead tr {
    border-bottom-width: 0px;
}

.gillion-woocommerce table.cart thead th {
    background-color: #f6f6f6;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.gillion-woocommerce table.cart thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.gillion-woocommerce table.cart a.remove {
    margin: 0 auto;
}

.gillion-woocommerce table.cart thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.gillion-woocommerce table.cart .product-thumbnail > a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 15px 0 8px 0;
}

.gillion-woocommerce table.cart td.actions {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.gillion-woocommerce table.cart img {
    width: 86px;
}

.gillion-woocommerce .product-name a {
    font-weight: bold;
}

.gillion-woocommerce table.cart td.actions {
    padding-top: 35px!important;
}


/* Woocommerce - Tables */
.gillion-woocommerce table.shop_attributes,
.gillion-woocommerce table.shop_table {
    border-style: hidden!important;
    margin-top: 15px;
}

.gillion-woocommerce table.shop_attributes th {
    padding: 5px 20px 5px 0px!important;
    width: 180px;
    text-transform: uppercase!important;
}

.gillion-woocommerce table.shop_attributes td,
.gillion-woocommerce table.shop_table td {
    padding: 5px 20px !important
}

.gillion-woocommerce table.shop_attributes tr:nth-child(even) td,
.gillion-woocommerce table.shop_attributes tr:nth-child(even) th {
    background-color: transparent!important;
}

.gillion-woocommerce .woocommerce table,
.gillion-woocommerce .woocommerce table th,
.gillion-woocommerce .woocommerce table td {
    border-width: 0px!important;
}

.gillion-woocommerce .woocommerce table tr {
    border-bottom: 1px solid #f2f2f2;
}

.gillion-woocommerce .cart_totals table.shop_table {
    margin-bottom: 0px;
}

.gillion-woocommerce .cart_totals table.shop_table th,
.gillion-woocommerce .cart_totals table.shop_table td {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    line-height: 58px!important;
}

.gillion-woocommerce .cart_totals table.shop_table th {
    padding-left: 0px!important;
}

.gillion-woocommerce .cart_totals table.shop_table td {
    padding-right: 0px!important;
    text-align: right;
}

.gillion-woocommerce .cart_totals .cart-subtotal .woocommerce-Price-amount {
    font-size: 16px;
}

.gillion-woocommerce .cart_totals .order-total .woocommerce-Price-amount {
    font-size: 24px;
}


/* Checkout - Page */
.gillion-woocommerce .select2-container--default .select2-selection--single,
.gillion-woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 51px;
    height: 51px;
}

.gillion-woocommerce .select2-container--default .select2-selection--single {
    border-radius: 8px;
    border-color: #e3e3e3;
}

.gillion-woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 20px;
    color: #8d8d8d;
}

.gillion-woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 15px;
}

.gillion-woocommerce .woocommerce .woocommerce-billing-fields .form-row label,
.gillion-woocommerce .woocommerce-additional-fields h3 {
    display: none;
}

.gillion-woocommerce .woocommerce form .form-row input.input-text {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gillion-woocommerce .woocommerce form .form-row {
    float: none;
    width: 100%;
}

.gillion-woocommerce .woocommerce form .form-row textarea {
    height: auto;
    min-height: 170px;
    line-height: 140%;
    padding: 18px;
    resize: none;
}

.gillion-woocommerce .checkout-order,
.gillion-woocommerce .woocommerce-order-details {
    border: 2px solid #eaeaea;
    padding: 30px 25px;
    border-radius: 10px;
}

.gillion-woocommerce .checkout-order > h3,
.gillion-woocommerce .woocommerce-order-details > h3 {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 17px;
    margin-bottom: 5px;
}

.gillion-woocommerce .woocommerce-order-details .product-name,
.gillion-woocommerce .woocommerce-order-details tfoot th,
.gillion-woocommerce .woocommerce-checkout-review-order-table .product-name,
.gillion-woocommerce .woocommerce-checkout-review-order-table tfoot th {
    padding-left: 0px!important;
}

.gillion-woocommerce .woocommerce-checkout-review-order-table .product-total,
.gillion-woocommerce .woocommerce-checkout-review-order-table tfoot td {
    padding-right: 0px!important;
    text-align: right;
}

.gillion-woocommerce .woocommerce-checkout #payment ul.payment_methods {
    padding: 0;
    border-width: 0px;
}

.gillion-woocommerce .woocommerce-checkout #payment {
    background-color: transparent;
}

.gillion-woocommerce .woocommerce-checkout .wc_payment_method {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px 20px!important;
    margin-bottom: 15px!important;
}

.gillion-woocommerce .woocommerce-checkout #payment div.payment_box {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 12px;
}

.gillion-woocommerce .woocommerce-checkout #payment div.payment_box p {
    line-height: 1.6;
}

.gillion-woocommerce #add_payment_method #payment div.payment_box::before,
.gillion-woocommerce .woocommerce-cart #payment div.payment_box::before,
.gillion-woocommerce .woocommerce-checkout #payment div.payment_box::before {
    display: none;
}

.gillion-woocommerce .woocommerce-checkout #payment .payment_method_paypal label {
    max-width: 85%;
}

.gillion-woocommerce .woocommerce-checkout #payment .payment_method_paypal label a {
    width: 100%;
    line-height: 1;
    left: -30px;
    position: relative;
    font-weight: normal;
}


/* Messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-width: 0px;
    border-radius: 8px;
    padding: 30px 40px;
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
    font-weight: bold;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    display: none;
}


/* Empty Cart */
.woocommerce-cart-empty-notice {
    text-align: center;
    margin-bottom: 45px;
}

.woocommerce-cart-empty-notice img {
    margin-bottom: 35px;
}

.woocommerce-cart-empty-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.woocommerce-cart-empty-notice > span {
    display: block;
}

.gillion-woocommerce .cart-empty {
    text-align: center;
}

.gillion-woocommerce .return-to-shop {
    display: table;
    margin: 0 auto;
}


/* Reviews */
.gillion-woocommerce #reviews #comments h2 {
    margin-bottom: 30px;
}

.gillion-woocommerce #reviews #comments ol.commentlist {
    padding-left: 0px;
}

.gillion-woocommerce #reviews #comments ol.commentlist li:not(:last-child) {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ededed;
}

.gillion-woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border-width: 0px;
    background-color: transparent;
}

.gillion-woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 90px;
    padding: 0;
    border-width: 0px;
}

.gillion-woocommerce #reviews #comments .star-rating {
    bottom: -3px;
}

.gillion-woocommerce #reviews #comments .comment-text-meta-item {
    display: inline-block;
    padding-right: 13px;
}

.gillion-woocommerce #reviews #comments .woocommerce-review__author {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 13px;
}

.gillion-woocommerce #reviews #comments time {
    font-size: 11px;
    color: #8d8d8d;
}

.woocommerce #review_form #respond textarea {
    margin-bottom: 30px;
}

.woocommerce #review_form label {
    font-size: 12px;
}

.gillion-woocommerce .comment-form-rating span > a:before {
    font-family: 'FontAwesome'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}

.gillion-woocommerce p.stars a:before {
	content: "\f005"!important;
}

.gillion-woocommerce .comment-form-rating p.stars a {
	padding: 12px;
	background-color: #f2f2f2;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	border-radius: 30px;
}

.gillion-woocommerce p.stars.selected a:not(.active):before,
.gillion-woocommerce p.stars.selected a.active:before {
	color: #fbcb22;
}

.gillion-woocommerce p.stars a,
.gillion-woocommerce p.stars.selected a,
.gillion-woocommerce p.stars.selected a.active~a:before {
	color: #d0d0d0;
}


/**
 * Header Cart - Icon
 */
.gillion-woocommerce .sh-nav li.sh-nav-cart > a > div {
    display: inline-block;
    position: relative;
}

.gillion-woocommerce .sh-nav li.sh-nav-cart > a > div > i {
    font-size: 20px;
}

.gillion-woocommerce .sh-header-cart-count > span {
    background: #fff;
    color: #505050;
    font-size: 12px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    padding: 0;
    position: relative;
    border: 1px solid #505050;
    position: absolute;
    top: 1px;
    right: -12px;
}


 /**
  * Header Cart - Content
  */
.gillion-woocommerce .sh-nav li.sh-nav-cart h2 {
    display: none!important;
}

.gillion-woocommerce .sh-nav li.sh-nav-cart > ul {
    min-width: 300px;
}

.gillion-woocommerce .sh-nav > li.sh-nav-cart > ul.sub-menu {
    margin-left: -226px;
}

.gillion-woocommerce .widget_shopping_cart .total {
    border-top-width: 0px;
    padding: 0 17px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-top: 8px;
}

.gillion-woocommerce .widget_shopping_cart .total span {
    float: right;
}

.gillion-woocommerce ul.cart_list li img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    float: left;
    margin-right: 15px;
}

.gillion-woocommerce .widget_shopping_cart .cart_list > li {
    padding-left: 15px;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid #ebebeb;
}

.gillion-woocommerce .widget_shopping_cart .cart_list > li > a:not(.remove) {
    padding-right: 45px;
}

.gillion-woocommerce .widget_shopping_cart .cart_list > li:last-child {
    margin-bottom: 0px;
}

.gillion-woocommerce .widget_shopping_cart .cart_list li > a {
    padding: 0;
}

.gillion-woocommerce .widget_shopping_cart .cart_list li a.remove {
    top: 15px;
    right: 30px;
    left: auto;
    font-size: 0px;
}

.gillion-woocommerce .widget_shopping_cart .cart_list li a.remove:before,
.gillion-woocommerce table.cart a.remove:before {
    content: "\e082";
    font-size: 16px;
    display: inline-block;
}

.gillion-woocommerce table.cart a.remove {
    font-size: 0px;
    color: #b5b5b5!important;
}

.gillion-woocommerce .widget_shopping_cart .buttons {
    padding: 10px 0;
}

.gillion-woocommerce .widget_shopping_cart .buttons a {
    border: 1px solid #dfdfdf;
    border-radius: 100px;
    margin: 0 17px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

.gillion-woocommerce .widget_shopping_cart .buttons a:first-child {
    margin-bottom: 15px;
}

.gillion-woocommerce .widget_shopping_cart .buttons a.checkout {
    background-color: #52d9dd!important;
    color: #fff!important;
    border-width: 0px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.gillion-woocommerce .widget_shopping_cart .buttons a:before {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    font-size: 18px;
    bottom: -2px;
}

.gillion-woocommerce .widget_shopping_cart .buttons a.checkout:before {
    content: "\e080";
    text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.gillion-woocommerce .widget_shopping_cart .buttons a:not(.checkout):before {
    content: "\e04f";
}

.gillion-woocommerce .widget_shopping_cart .cart_list li a.remove:before,
.gillion-woocommerce .widget_shopping_cart .buttons a:before,
.gillion-woocommerce table.cart a.remove:before {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.gillion-woocommerce .widget_shopping_cart .woocommerce-mini-cart__empty-message {
    padding: 0 16px;
}


/**
 * Header Cart - Content
 */
.gillion-woocommerce .woocommerce-order section {
    max-width: 840px;
    margin: 0 auto;
}

.gillion-woocommerce .woocommerce-order .woocommerce-thankyou-order-received {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}

.gillion-woocommerce .woocommerce-order section.woocommerce-order-details {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 45px;
}

.gillion-woocommerce .woocommerce-order section.woocommerce-order-details .order_item .product-name > * {
    font-weight: normal!important;
}

.gillion-woocommerce .woocommerce-order table thead th {
    padding-top: 0px!important;
}

.gillion-woocommerce .woocommerce-order table tfoot tr:last-child th,
.gillion-woocommerce .woocommerce-order table tfoot tr:last-child td {
    padding-bottom: 0px!important;
}

.gillion-woocommerce .woocommerce-order table .product-name,
.gillion-woocommerce .woocommerce-order table tfoot th {
    padding-left: 0px!important;
}

.gillion-woocommerce .woocommerce-order table .product-total,
.gillion-woocommerce .woocommerce-order table tfoot td {
    padding-right: 0px!important;
    text-align: right;
}

.gillion-woocommerce .woocommerce-thankyou-order-details,
.gillion-woocommerce .woocommerce-customer-details address {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 45px;
    border-width: 0px;
    line-height: 1.8;
}

.gillion-woocommerce .woocommerce-customer-details address {
    width: 50%;
}

.gillion-woocommerce .woocommerce-thankyou-order-details {
    margin-bottom: 62px!important;
}

.gillion-woocommerce ul.order_details > li {
    padding-right: 17px!important;
    margin-right: 17px;
    border-right: 1px solid #efefef;
}

.gillion-woocommerce ul.order_details > li {
    font-size: 12px;
}

.gillion-woocommerce ul.order_details > li strong {
    font-size: 14px;
    margin-top: 7px;
}

.gillion-woocommerce .woocommerce-customer-details .woocommerce-column__title {
    font-size: 20px;
}

.gillion-woocommerce .woocommerce-order-details__title {
    border-bottom: 3px solid #f0f0f0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/**
 * My Account - Tabs
 */
.gillion-woocommerce nav.woocommerce-MyAccount-navigation ul {
    padding-left: 0px;
    list-style: none;
}

.gillion-woocommerce nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
    padding-left: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left: 3px solid transparent;
    margin-bottom: 14px;
}

.gillion-woocommerce nav.woocommerce-MyAccount-navigation a {
    font-weight: bold;
    font-size: 13px;
}

.gillion-woocommerce nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active {
    border-left-color: #ccc;
}

.gillion-woocommerce nav.woocommerce-MyAccount-navigation li:not(.is-active) {
    opacity: 0.7;
}

@media (max-width: 766px) {
    .gillion-woocommerce nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
        margin-bottom: 4px;
    }

    .gillion-woocommerce nav.woocommerce-MyAccount-navigation ul {
        margin-bottom: 30px;
    }
}


/**
 * My Account - Content
 */
.woocommerce address {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
}

.woocommerce-account .addresses .title .edit,
.woocommerce table.my_account_orders .button {
    background-color: #f9f9f9;
    border-radius: 100px;
    padding: 0px 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
}

.woocommerce .woocommerce-MyAccount-content > p {
    margin-bottom: 30px;
}

.woocommerce .woocommerce-MyAccount-content > p a {
    color: inherit;
}

.woocommerce-wishlist ul.page-numbers {
    margin-left: 12px!important;
}

.gillion-woocommerce table.my_account_orders.shop_table td {
    padding-top: 22px!important;
    padding-bottom: 22px!important;
}

.gillion-woocommerce table.my_account_orders thead th {
    background-color: #f9f9f9;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.gillion-woocommerce table.my_account_orders thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.gillion-woocommerce table thead th {
    font-size: 14px;
    text-transform: uppercase;
}

.gillion-woocommerce table.my_account_orders thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.gillion-woocommerce table.my_account_orders thead tr:first-child {
    border-bottom-width: 0px;
}

.gillion-woocommerce mark {
    font-weight: bold;
    background-color: inherit;
    color: inherit;
}

body.woocommerce-account.woocommerce-page:not(.woocommerce-edit-address) .woocommerce-MyAccount-content > p:first-child,
body.woocommerce-account.woocommerce-page:not(.woocommerce-edit-address) .woocommerce-MyAccount-content > p:first-child a {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    margin-bottom: 15px;
}

body.woocommerce-edit-account .woocommerce-MyAccount-content label,
body.woocommerce-edit-address .woocommerce-MyAccount-content label {
    display: none;
}

body.woocommerce-edit-account .woocommerce-MyAccount-content p,
body.woocommerce-edit-address .woocommerce-MyAccount-content p {
    margin-bottom: 20px;
}

.gillion-woocommerce legend {
    border-bottom-width: 0px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
}


/**
 * Wishlist
 */
.sh-product-wishlist-add {
    font-size: 20px;
    color: #b1b0b0;
    transition: 0.5s all ease-in-out;
}

.sh-product-wishlist-add.disabled {
    opacity: 0.6;
}

.sh-product-wishlist-add[data-status=remove] {
    color: #f36161;
}

.gillion-woocommerce ul.products li.product a.woocommerce-loop-product__link .sh-product-wishlist-add {
    position: absolute;
    top: 40px; right: 0;
}


/**
 * Responsive
 */
@media (min-width: 1024px) {
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary {
        width: 58%;
    }

    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        width: 38%;
    }
}

@media (max-width: 700px) {
    .gillion-woocommerce h1.page-title,
    .gillion-woocommerce .woocommerce-result-count,
    .gillion-woocommerce p.woocommerce-result-count {
        width: 100%;
        text-align: center;
    }

    .gillion-woocommerce .woocommerce-ordering {
        display: table;
        margin: 0 auto;
        float: none;
        padding: 15px 0 45px 0;
    }

    .gillion-woocommerce div.product .product_meta {
        border-bottom: 1px solid #efefef;
        margin-bottom: 39px;
        padding-bottom: 30px;
    }

    .gillion-woocommerce div.product .product_meta .product_meta_name {
        display: block;
        width: 100%;
    }

    .gillion-woocommerce div.product .woocommerce-tabs .panel {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .gillion-woocommerce div.product .woocommerce-tabs .panel h2 {
        font-size: 16px;
    }

    .gillion-woocommerce div.product section.related.products {
        padding-top: 40px;
    }

    .gillion-woocommerce div.product .product_title {
        font-size: 21px;
    }

    .woocommerce-header-item {
        width: 130px;
    }

    .woocommerce-header-title {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .woocommerce-page[class*=columns-] ul.products li.product,
    .woocommerce[class*=columns-] ul.products li.product {
        width: 100%!important;
    }

    .woocommerce-header-item {
        width: 110px;
    }

    .woocommerce-header-title {
        font-size: 11px;
    }
}
