/*
	TinyMCE editor style
*/

#tinymce {
	max-width: 782px;
}

#tinymce p {
    line-height: 1.8;
}

#tinymce span,
#tinymce span > strong {
	line-height: 110%!important;
}

.post-content img {
	margin: 0 0 15px 0;
}

.post-content img:not(.alignleft):not(.alignright) {
	margin-right: 15px;
}

.alignleft, img.alignleft {
	margin-right: 40px;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 40px;
	display: inline;
	float: right;
}

.aligncenter, img.aligncenter {
	margin-right: auto!important;
	margin-left: auto!important;
	display: block;
	clear: both;
}

.alignnone, img.alignnone {
}

.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}

.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}

.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

.post-content img {
	position: relative;
	z-index: 100;
}

blockquote {
	padding: 30px;
	font-size: 30px;
	position: relative;
	line-height: 120%;
	font-style: italic;
	text-align: center;
	border-width: 0px;
	font-weight: bold;
	z-index: 1;
}

blockquote p {
	line-height: 120%!important;
}

blockquote:before {
    font-family: 'themify';
	content: "”";
	font-size: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10.5px;
	color: #f4f4f4;
	z-index: -1;
	margin-left: -120px;
	margin-top: 0px;
}

blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}

blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}

figure.gallery-item {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: -4px;
}

figure.gallery-item figcaption {
	padding-top: 10px;
	padding-right: 15px;
}

.gallery.gallery-columns-5 figure.gallery-item {
	width: 20%;
}

.gallery.gallery-columns-4 figure.gallery-item {
	width: 25%;
}

.gallery.gallery-columns-3 figure.gallery-item {
	width: 33.3%;
}

.gallery.gallery-columns-2 figure.gallery-item {
	width: 50%;
}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sh-dropcaps {
	font-size: 48px!important;
	font-weight: bold;
	margin-right: 15px;
	line-height: 1;
	float: left;
	margin: 25px 35px;
}

.sh-dropcaps-full-square,
.sh-dropcaps-full-square-border,
.sh-dropcaps-full-square-tale,
.sh-dropcaps-square-border,
.sh-dropcaps-square-border2,
.sh-dropcaps-circle {
	font-size: 24px!important;
	width: 56px;
	height: 56px;
	line-height: 56px!important;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
}

.blog-single .post-content .sh-dropcaps-full-square,
.blog-single .post-content .sh-dropcaps-full-square-border,
.blog-single .post-content .sh-dropcaps-full-square-tale,
.blog-single .post-content .sh-dropcaps-square-border,
.blog-single .post-content .sh-dropcaps-square-border2,
.blog-single .post-content .sh-dropcaps-circle {
	line-height: 56px!important;
}

.sh-dropcaps-full-square,
.sh-dropcaps-full-square-border,
.sh-dropcaps-full-square-tale {
	color: #fff;
	background-color: #47c9e5;
}

.sh-dropcaps-full-square-border:after {
	content: "";
	display: block;
	border: 2px solid #fff;
	position: absolute;
	top: 2px; bottom: 2px; left: 2px; right: 2px;
}

.sh-dropcaps-square-border {
	border: 1px solid #e5e5e5;
}

.sh-dropcaps-square-border2 {
	border: 2px solid #e5e5e5;
}

.sh-dropcaps-circle {
	background-color: #e5e5e5;
	border-radius: 50%;
}

.sh-dropcaps-full-square-tale {
	overflow: visible;
}

.sh-dropcaps-full-square-tale:after {
	content: "";
	display: block;
	position: absolute;
	right: -10px;
	top: 17px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #47c9e5;
}

table {
	border: 2px solid #e5e5e5!important;
	border-radius: 0!important;
	border-collapse: collapse!important;;
}

table td,
table th {
    border: 1px solid #e5e5e5!important;
}

table td {
	padding: 15px 20px!important;
}

table th {
	padding: 15px 20px!important;
	font-size: 16px;
	color: #505050;
}

/* Gallery */
.wpview[data-wpview-type="gallery"] {
	max-width: 782px;
	background-color: #f5f5f5;
	border-radius: 8px;
	padding-top: 15px;
}

.wpview[data-wpview-type="gallery"] .gallery-item {
	margin-bottom: 15px;
}
