/*-----------------------------------------------------------------------------------*/
/* Theme Options
/*-----------------------------------------------------------------------------------*/

.gillion-live-documentation,
.gillion-live-support {
	width: 100%;
	height: 700px;
}

.fw-backend-side-tabs .fw-options-tabs-first-level > .fw-options-tabs-contents > .fw-inner {
	min-height: 812px!important;
}

#wpwrap {
	background-color: #f8f8f8!important;
}

.fw-settings-form {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}

.fw-options-tabs-wrapper {
	box-shadow: 0 1px 2px rgba(0,0,0,.05)!important;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05)!important;
	border-left: 1px solid #e5e5e5!important;
	border-bottom: 1px solid #e5e5e5!important;
}


/* Titles */

h3 span.initialized {
	font-weight: 500!important;
	color: #4d4d4d!important;
}

.fw-options-tabs-wrapper .fw-backend-option-label label {
	font-weight: bold!important;
	color: #414141!important;
}


/* Header Logo */

.fw-settings-form-header {
	background-color: #3f3f3f!important;
	padding: 10px 0;!important;
	background-image: url(../../img/admin_background.jpg)!important;
	background-position: 50% 50%!important;
	background-size: cover!important;
}

.fw-settings-form-header h2 {
	font-size: 0px!important;
}

.fw-settings-form-header h2 a {
	margin-left: 0px!important;
	padding-top: 13px!important;
	display: inline-block;
}

.fw-settings-form-header h2 small {
	font-size: 0px!important;
	color: #a5a1a9!important;
	font-weight: 400!important;
	opacity: 1!important;
	width: 103px;
	height: 31px;
	display: block;
	margin-left: -5px!important;
	background-image: url(../../img/admin_logo.png)!important;
}


/*-----------------------------------------------------------------------------------*/
/* Header buttons
/*-----------------------------------------------------------------------------------*/

.fw-settings-form-header .submit-button-separator {
	display: none!important;
}

.form-header-buttons {
	padding-right: 30px;
	padding-top: 5px;
}

.fw-settings-form-header .submit-button-reset {
	padding: 0 10px!important;
}

.fw-settings-form-header .submit-button-save {
	margin-left: 15px!important;
	margin-right: 0px!important;
	margin-right: -20px!important;
	background-color: #d8a079!important;
	padding: 0 28px!important;
}

.fw-settings-form-header .submit-button-reset,
.fw-settings-form-header .submit-button-save {
	position: relative;
	color: #fff!important;
	text-transform: uppercase;
	font-weight: 600!important;
	border-radius: 100px!important;
	height: 50px!important;
	line-height: 48px!important;
	text-decoration: none!important;
	border: none!important;
	font-size: 14px!important;
	text-shadow: none!important;
	transition: 0.3s all ease-in-out;
}

.fw-settings-form-header .submit-button-save:hover,
.fw-settings-form-header .submit-button-save:focus {
	background-color: #cc8e62!important;
}


/* Footer */

.form-footer-buttons {
	border-color: transparent!important;
	background-color: #f8f8f8!important;
	margin-left: 230px!important;
	margin-top: -100px!important;
	border-left: 1px solid #e8e8e8!important;
	padding-left: 35px;
	height: 99px!important;
}

.form-footer-buttons .button-primary {
	margin-right: 15px!important;
	margin-left: 0px!important;
	background-color: #d8a079!important;
	padding: 0 28px!important;
	transition: 0.3s all ease-in-out;
}

.form-footer-buttons .button-secondary,
.form-footer-buttons .button-primary {
	position: relative;
	color: #fff!important;
	text-transform: uppercase;
	font-weight: 600!important;
	border-radius: 100px!important;
	height: 50px!important;
	line-height: 48px!important;
	text-decoration: none!important;
	border: none!important;
	font-size: 14px!important;
	bottom: -5px!important;
	text-shadow: none!important;
}

.form-footer-buttons .button-secondary {
	background-color: transparent!important;
	color: #626262!important;
}

.form-footer-buttons .button-primary:hover,
.form-footer-buttons .button-primary:focus {
	background-color: #cc8e62!important;
}

.form-footer-buttons::before{
	clear: both;
	display: block;
	content: "";
}


/* Navigation */

.ui-state-default .fw-wp-link {
	background-color: #f8f8f8!important;
	color: #646464!important;
	font-weight: 400!important;
	padding-left: 25px!important;
	text-transform: none!important;
}

.ui-state-default.ui-tabs-active {
	border-right: 1px solid #fff!important;
	margin-right: -2px!important;
	z-index: 1000;
	margin-left: -1px!important;
}

.ui-state-default.ui-tabs-active .fw-wp-link {
	color: #fff!important;
	font-weight: 600!important;
	font-size: 14px!important;
	background-color: #423933!important;
}

.ui-state-default.ui-tabs-active .fw-wp-link::after {
	position: absolute;
	right: -11px; top: 12px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #bf3430;
	opacity: 0;
}

.ui-state-default.ui-tabs-active .fw-wp-link:before {
	opacity: 1;
}

.ui-state-default.ui-tabs-active:not(:first-child) {
	border-top: 1px solid #f5f5f5!important;
}

.ui-state-default.ui-tabs-active:not(:last-child) {
	border-bottom: 1px solid #f5f5f5!important;
}

.ui-state-default .fw-wp-link:before {
	content: "\e60f";
	font-family: 'themify';
	display: inline-block;
	width: 35px;
	xopacity: 0.7;
	font-size: 18px!important;
	bottom: -3px;
	position: relative;
}





/* General */
.ui-state-default:nth-child(1) .fw-wp-link:before {
	content: "\e642";
}

/* Styling */
.ui-state-default:nth-child(2) .fw-wp-link:before {
	content: "\e6e0";
}

/* Header */
.ui-state-default:nth-child(3) .fw-wp-link:before {
	content: "\e63c";
}

/* Footer */
.ui-state-default:nth-child(4) .fw-wp-link:before {
	content: "\e6c0";
}

/* Title bar */
.ui-state-default:nth-child(5) .fw-wp-link:before {
	content: "\e702";
}

/* Social Media */
.ui-state-default:nth-child(6) .fw-wp-link:before {
	content: "\e64f";
}

/* Blog */
.ui-state-default:nth-child(7) .fw-wp-link:before {
	content: "\e6c8";
}

/* Portfolio */
.ui-state-default:nth-child(8) .fw-wp-link:before {
	content: "\e71e";
}

/* Lightbox */
.ui-state-default:nth-child(9) .fw-wp-link:before {
	content: "\e654";
}

/* WooCoommerce */
.ui-state-default:nth-child(10) .fw-wp-link:before {
	content: "\e60d";
}

/* WooCoommerce */
.ui-state-default:nth-child(11) .fw-wp-link:before {
	content: "\e60d";
}

/* Page Loader */
.ui-state-default:nth-child(12) .fw-wp-link:before {
	content: "\e698";
}

/* 404 Page */
.ui-state-default:nth-child(13) .fw-wp-link:before {
	content: "\e6c5";
}

/* Notice*/
.ui-state-default:nth-child(14) .fw-wp-link:before {
	content: "\e718";
}

/* Custom Code */
.ui-state-default:nth-child(15) .fw-wp-link:before {
	content: "\e67c";
}

/* Theme Information */
.ui-state-default:nth-child(16) .fw-wp-link:before {
	content: "\e717";
}













/* General */
/*.ui-state-default:nth-child(1) .fw-wp-link:before {
	content: "\f0ad";
}*/

/* Styling */
/*.ui-state-default:nth-child(4) .fw-wp-link:before {
	content: "\f1fc";
}*/

/* Header */
/*.ui-state-default:nth-child(5) .fw-wp-link:before {
	content: "\f097";
}*/

/* Social Media */
/*.ui-state-default:nth-child(8) .fw-wp-link:before {
	content: "\f0ac";
}*/

/* WooCommerce */
/*.ui-state-default:nth-child(10) .fw-wp-link:before {
	content: "\f07a";
}*/

/* Custom Code */
/*.ui-state-default:nth-child(12) .fw-wp-link:before {
	content: "\f13b";
}*/




.fw-backend-postboxes .handlediv {
	display: none;
}

.fw-backend-postboxes .hndle {
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.ui-state-default {
	text-transform: uppercase!important;
	border-bottom: 1px solid #e8e8e8!important;
}

.ui-state-default a.nav-tab {
	height: 50px!important;
	line-height: 46px!important;
	float: none!important;
}

.ui-state-default:not(.ui-tabs-active) .nav-tab:hover {
	background-color: #EDEDED!important;
}

body .fw-options-tabs-list li a {
	background-color: transparent!important;
}


/* Navigation Structure */

.fw-backend-side-tabs .fw-options-tabs-first-level {
	background: #f8f8f8!important;
}

@media screen and (min-width: 782px) {

	.fw-options-tabs-list {
		width: 230px!important;
		padding-bottom: 0!important;
	}

	#wpwrap .fw-options-tabs-wrapper .fw-options-tabs-contents {
		margin-left: 230px!important;
	}

}


/* */

.fw-postbox {
	padding: 32px 35px;
}

.fw-postbox .hndle {
	line-height: normal!important;
	height: 52px!important;
	padding: 0 !important;
}

.fw-postbox .hndle::after {
	border-top: solid 0px #fff!important;
}

.fw-postbox .hndle span {
	color: #2f2f2f!important;
	font-size: 24px!important;
}


/* */

.postbox-with-fw-options > .inside, .fw-postbox > .inside {
	margin-top: 0px!important;
}

.fw-backend-option-design-default {
	padding: 24px 0px 21px!important;
}


/* Options */

.fw-option-type-rgba-color-picker {
	border: 1px solid rgba(0,0,0,0.1)!important;
	border-radius: 4px!important;
	padding: 4px 5px!important;
}

.fw-option-type-upload.images-only .thumb {
	width: 120px!important;
	height: 100px!important;
}

#fw-option-favicon  .thumb {
	width: 50px!important;
	height: 50px!important;
}


#fw-backend-option-fw-option-theme_information .fw-backend-option-label {
	display: none!important;
}

#fw-backend-option-fw-option-theme_information .fw-backend-option-input {
	width: 100%!important;
}


.fw-option-type-switch .adaptive-switch .switch-dot span {
	background-color: #918E8E!important;
}

.fw-option-type-switch .adaptive-switch .switch-switcher label.switch-label {
	color: #918E8E!important;
	font-weight: 400;
}


.fw-option-type-switch .adaptive-switch.switch-right .switch-dot span {
	background-color: #3B7DB5!important;
}

.fw-option-type-switch .adaptive-switch.switch-right .switch-switcher label.switch-label {
	color: #3B7DB5!important;
}

.fw-option-typography-v2-option-subset,
.fw-option-typography-v2-option-weight {
	width: 0px!important;
	height: 0px;
	overflow: hidden;
	opacity: 0;
}

#wp-textarea_fw-option-footer_copyright-wrap iframe {
	height: 120px!important;
}


/* Modal fix */

.media-modal-content .fw-backend-option-design-default {
	padding: 24px 27px 21px!important;
}


.sh-custom-group-divder {
	border-bottom: 0px!important;
	margin-top: 50px!important;
	position: relative;
	margin-bottom: -20px!important;
}

#fw-backend-option-fw-option-styling_default .fw-option-typography-v2-option-size,
#fw-backend-option-fw-option-styling_default .fw-option-typography-v2-option-color,
#fw-backend-option-fw-option-styling_default .fw-option-typography-v2-option-letter-spacing,
#fw-backend-option-fw-option-styling_default .fw-option-typography-v2-option-line-height {
	display: none!important;
}












.fw-backend-option .fw-clear {
	clear: none!important;
}

.fw-backend-option .fw-backend-option-label {
	width: 350px!important;/* 25% */
}

.fw-backend-option .fw-backend-option-desc {
	margin-left: 0!important;
	width: 250px!important;/* 18% */
	color: #9e9e9e;
	font-size: 14px;
}

.fw-backend-option .fw-backend-option-input {
	float: right!important;
	width: calc(100% - 350px)!important;/* 75% */
}

.fw-backend-option:after {
	clear: both;
	display: block;
	content: "";
}

@media screen and (max-width: 1200px) {
	.fw-backend-option .fw-backend-option-label {
		width: 250px!important;
	}

	.fw-backend-option .fw-backend-option-desc {
		margin-left: 0!important;
		width: 200px!important;
	}

	.fw-backend-option .fw-backend-option-input {
		float: right!important;
		width: calc(100% - 250px)!important;
	}
}





.fw-options-tabs-contents > .fw-inner {
	border-left: 1px solid #e8e8e8;
}

.fw-backend-side-tabs .fw-backend-postboxes > .fw-postbox {
	margin-bottom: 0!important;
}

.fw-backend-option .fw-backend-option-input-type-multi,
.fw-backend-option .fw-backend-option-input-type-multi-picker,
.fw-backend-option .fw-backend-option-input-type-html-full {
	width: 100%!important;
	float: none!important;
}

.fw-backend-side-tabs .fw-options-tabs-first-level > .fw-options-tabs-contents > .fw-inner {
	padding-bottom: 100px!important
}

/* Theme info */
.sh-theme-info img {
	max-width: 500px;
}

.sh-theme-info h3 {
	padding-left: 0;
}

.sh-theme-info .sh-theme-desct {
	margin-top: 8px;
}


/* Theme demo content link */
.sh-demo-content-title {
	border-bottom-width: 0px!important;
	padding-top: 0px!important;
}

.sh-demo-content-link {
	position: relative;
	margin-top: 4px;
}
